@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brandyellow: #f0e74d;
  --color-brandtext: #3b3b3b;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-brandyellow: #f0e74d;
    --color-brandtext: #3b3b3b;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE ve Edge */
    scrollbar-width: none; /* Firefox */
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-swiper-button {
  color: white !important;
}
@media only screen and (max-width: 600px) {
  .swiper-button-prev.custom-swiper-button-mobile,
  .swiper-button-next.custom-swiper-button-mobile {
    display: none !important;
  }
}
.swiper-pagination-bullet {
  background: gray !important;
}

.swiper-pagination-bullet-active {
  background: #f0e74d !important;
}
